# Dependencies
node_modules/

# Build outputs
dist/

# Astro cache and logs
.astro/

# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel

# Local Netlify folder
.netlify
