---
---
<html lang="ja">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>宮崎ケアプラン分析</title>
</head>
<body>
	<h1>宮崎県ケアプランデータ連携システム導入支援 タイムスタディ分析</h1>
	<p>分析結果を掲載予定です。</p>
</body>
</html>
